In [26]:
import pandas as pd # importing libraries
import shutil
import warnings
warnings.filterwarnings('ignore')

In [27]:
#extracting the data
shutil.unpack_archive('archive.zip') # extracting file

In [2]:
simple_list = [1,56,79,862,57]

In [17]:
simple = pd.Series(simple_list)

In [20]:
print(type(simple))

<class 'pandas.core.series.Series'>

In [18]:
simple.sort_values() # can be used only in series not in list

0      1
1     56
4     57
2     79
3    862
dtype: int64

In [19]:
simple.sort_values(ascending=False)

3    862
2     79
4     57
1     56
0      1
dtype: int64

In [28]:
dates = pd.date_range('20220101',periods=5,freq='S')
dates

DatetimeIndex(['2022-01-01 00:00:00', '2022-01-01 00:00:01',
               '2022-01-01 00:00:02', '2022-01-01 00:00:03',
               '2022-01-01 00:00:04'],
              dtype='datetime64[ns]', freq='s')

In [6]:
data = pd.read_csv('sample_data.csv') # reading the csv file

In [8]:
data.columns # displays all the columns in the file

Index(['Unnamed: 0', 'datetime', 'host', 'src', 'proto', 'type', 'spt', 'dpt',
       'srcstr', 'cc', 'country', 'locale', 'localeabbr', 'postalcode',
       'latitude', 'longitude'],
      dtype='object')

In [40]:
type(data.columns)

pandas.core.indexes.base.Index

In [39]:
type(data)

pandas.core.frame.DataFrame

In [9]:
data.shape

(40000, 16)

In [10]:
data.head(2) # returns first two rows

,Unnamed: 0,datetime,host,src,proto,type,spt,dpt,srcstr,cc,country,locale,localeabbr,postalcode,latitude,longitude
0,263647,7/6/13 0:46,groucho-oregon,3708637025,TCP,unknown,6000.0,1433.0,221.13.79.97,CN,China,Tibet Autonomous Region,54,unknown,29.6500,91.100
1,152941,5/17/13 2:56,groucho-singapore,2031191236,TCP,unknown,21378.0,5631.0,121.17.132.196,CN,China,Hebei,13,unknown,39.8897,115.275

In [11]:
data.head() # returns first four values

,Unnamed: 0,datetime,host,src,proto,type,spt,dpt,srcstr,cc,country,locale,localeabbr,postalcode,latitude,longitude
0,263647,7/6/13 0:46,groucho-oregon,3708637025,TCP,unknown,6000.0,1433.0,221.13.79.97,CN,China,Tibet Autonomous Region,54,unknown,29.6500,91.1000
1,152941,5/17/13 2:56,groucho-singapore,2031191236,TCP,unknown,21378.0,5631.0,121.17.132.196,CN,China,Hebei,13,unknown,39.8897,115.2750
2,358012,8/8/13 9:37,groucho-tokyo,1990279229,TCP,unknown,6000.0,1998.0,118.161.64.61,TW,Taiwan,Taipei,unknown,unknown,25.0392,121.5250
3,236822,6/24/13 4:41,groucho-oregon,1509469053,UDP,unknown,49003.0,53.0,89.248.171.125,NL,Netherlands,unknown,unknown,unknown,52.5000,5.7500
4,167749,5/22/13 16:41,groucho-tokyo,2148116578,ICMP,8.0,0.0,0.0,128.9.168.98,US,United States,California,CA,90292,33.9777,-118.4351

In [41]:
data.tail() # returns last four values

,Unnamed: 0,datetime,host,src,proto,type,spt,dpt,srcstr,cc,country,locale,localeabbr,postalcode,latitude,longitude
39995,231015,6/21/13 12:26,groucho-norcal,3739087075,TCP,unknown,56192.0,8080.0,222.221.240.227,CN,China,Yunnan,53,unknown,25.0389,102.7183
39996,55974,4/2/13 8:38,groucho-singapore,3728411142,TCP,unknown,47083.0,22.0,222.59.10.6,CN,China,Beijing Shi,11,unknown,39.9289,116.3883
39997,116936,5/1/13 0:39,groucho-us-east,2050041907,TCP,unknown,6000.0,1433.0,122.49.40.51,CN,China,Beijing Shi,11,unknown,39.9289,116.3883
39998,219136,6/16/13 7:45,groucho-us-east,3668817079,UDP,unknown,51973.0,31848.0,218.173.180.183,TW,Taiwan,Taipei,unknown,unknown,25.0392,121.5250
39999,284423,7/14/13 3:37,groucho-sydney,3362752426,TCP,unknown,51258.0,80.0,200.111.135.170,CL,Chile,Santiago Metropolitan,RM,unknown,-33.4500,-70.6667

In [42]:
data[30:35] # displays the row from 30 to 34

,Unnamed: 0,datetime,host,src,proto,type,spt,dpt,srcstr,cc,country,locale,localeabbr,postalcode,latitude,longitude
30,170326,5/23/13 23:22,groucho-tokyo,3541685221,TCP,unknown,6914.0,5038.0,211.25.211.229,MY,Malaysia,Kuala Lumpur,14,unknown,3.1667,101.7000
31,70194,4/9/13 21:10,groucho-oregon,1995738380,TCP,unknown,6000.0,1433.0,118.244.141.12,CN,China,Beijing Shi,11,unknown,39.9289,116.3883
32,55287,4/2/13 0:31,groucho-oregon,3523643738,UDP,unknown,23534.0,48485.0,210.6.137.90,HK,Hong Kong,unknown,unknown,unknown,22.2833,114.1500
33,288090,7/15/13 14:57,groucho-tokyo,1033070341,TCP,unknown,6000.0,1433.0,61.147.103.5,CN,China,Jiangsu Sheng,32,unknown,32.0617,118.7778
34,164660,5/21/13 3:34,groucho-oregon,1962930536,TCP,unknown,6000.0,1433.0,116.255.241.104,CN,China,Zhejiang Sheng,33,unknown,27.8456,120.4928

In [44]:
data[['host','src', 'datetime']].head(2) # displaying selected column of first two rows

                host         src      datetime
0     groucho-oregon  3708637025   7/6/13 0:46
1  groucho-singapore  2031191236  5/17/13 2:56

In [45]:
data.loc[5:7,['host','src','proto']]

              host         src proto
5       groucho-eu  3363404721   TCP
6  groucho-us-east  2119270285   UDP
7   groucho-oregon  1902908688   TCP

In [46]:
data.iloc[5:7,[1,2,3]] # displaying selected columns through indexes

        datetime             host         src
5   5/8/13 16:39       groucho-eu  3363404721
6  5/11/13 14:00  groucho-us-east  2119270285

In [47]:
updt_data = data.set_index("datetime")

In [48]:
updt_data.index[0]

'7/6/13 0:46'

In [49]:
import datetime
datetime.datetime.strptime('3/3/13 21:53','%m/%d/%y %H:%M')

datetime.datetime(2013, 3, 3, 21, 53)

In [51]:
updt_data.drop('longitude',inplace=True,axis=1) # deleted the column from csv file

In [52]:
updt_data.head(2)

,Unnamed: 0,host,src,proto,type,spt,dpt,srcstr,cc,country,locale,localeabbr,postalcode,latitude
datetime,,,,,,,,,,,,,,
7/6/13 0:46,263647,groucho-oregon,3708637025,TCP,unknown,6000.0,1433.0,221.13.79.97,CN,China,Tibet Autonomous Region,54,unknown,29.6500
5/17/13 2:56,152941,groucho-singapore,2031191236,TCP,unknown,21378.0,5631.0,121.17.132.196,CN,China,Hebei,13,unknown,39.8897

In [12]:
data.describe(include='all') # same as mysql, to view structure of file also the descriptions

,Unnamed: 0,datetime,host,src,proto,type,spt,dpt,srcstr,cc,country,locale,localeabbr,postalcode,latitude,longitude
count,40000.000000,40000,40000,4.000000e+04,40000,40000,40000.000000,40000.000000,40000,40000,40000,40000,40000,40000,40000.000000,40000.000000
unique,NaN,33310,9,NaN,3,7,NaN,NaN,17332,140,140,685,430,861,NaN,NaN
top,NaN,7/24/13 7:47,groucho-tokyo,NaN,TCP,unknown,NaN,NaN,175.146.199.252,CN,China,unknown,unknown,unknown,NaN,NaN
freq,NaN,220,11321,NaN,29155,36086,NaN,NaN,1718,17100,17100,9397,10318,32260,NaN,NaN
mean,226055.272725,NaN,NaN,2.166177e+09,NaN,NaN,16850.528850,6128.698950,NaN,NaN,NaN,NaN,NaN,NaN,38.486671,48.625166
std,130797.052747,NaN,NaN,1.073566e+09,NaN,NaN,19064.809132,13607.794197,NaN,NaN,NaN,NaN,NaN,NaN,283.324834,91.728575
min,0.000000,NaN,NaN,1.812032e+07,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,-41.300000,-175.000000
25%,113016.000000,NaN,NaN,1.211014e+09,NaN,NaN,5062.750000,135.000000,NaN,NaN,NaN,NaN,NaN,NaN,31.045600,-4.000000
50%,226154.000000,NaN,NaN,2.042579e+09,NaN,NaN,6000.000000,1433.000000,NaN,NaN,NaN,NaN,NaN,NaN,35.685000,106.000000
75%,339383.750000,NaN,NaN,3.170226e+09,NaN,NaN,25416.000000,3389.000000,NaN,NaN,NaN,NaN,NaN,NaN,40.455500,118.777800
max,451558.000000,NaN,NaN,3.757843e+09,NaN,NaN,65535.000000,65500.000000,NaN,NaN,NaN,NaN,NaN,NaN,20076.000000,175.050000

In [13]:
data.info

<bound method DataFrame.info of        Unnamed: 0       datetime               host         src proto  \
0          263647    7/6/13 0:46     groucho-oregon  3708637025   TCP
1          152941   5/17/13 2:56  groucho-singapore  2031191236   TCP
2          358012    8/8/13 9:37      groucho-tokyo  1990279229   TCP
3          236822   6/24/13 4:41     groucho-oregon  1509469053   UDP
4          167749  5/22/13 16:41      groucho-tokyo  2148116578  ICMP
...           ...            ...                ...         ...   ...
39995      231015  6/21/13 12:26     groucho-norcal  3739087075   TCP
39996       55974    4/2/13 8:38  groucho-singapore  3728411142   TCP
39997      116936    5/1/13 0:39    groucho-us-east  2050041907   TCP
39998      219136   6/16/13 7:45    groucho-us-east  3668817079   UDP
39999      284423   7/14/13 3:37     groucho-sydney  3362752426   TCP

          type      spt      dpt           srcstr  cc        country  \
0      unknown   6000.0   1433.0     221.13.79.97  CN          China
1      unknown  21378.0   5631.0   121.17.132.196  CN          China
2      unknown   6000.0   1998.0    118.161.64.61  TW         Taiwan
3      unknown  49003.0     53.0   89.248.171.125  NL    Netherlands
4          8.0      0.0      0.0     128.9.168.98  US  United States
...        ...      ...      ...              ...  ..            ...
39995  unknown  56192.0   8080.0  222.221.240.227  CN          China
39996  unknown  47083.0     22.0      222.59.10.6  CN          China
39997  unknown   6000.0   1433.0     122.49.40.51  CN          China
39998  unknown  51973.0  31848.0  218.173.180.183  TW         Taiwan
39999  unknown  51258.0     80.0  200.111.135.170  CL          Chile

                        locale localeabbr postalcode  latitude  longitude
0      Tibet Autonomous Region         54    unknown   29.6500    91.1000
1                        Hebei         13    unknown   39.8897   115.2750
2                       Taipei    unknown    unknown   25.0392   121.5250
3                      unknown    unknown    unknown   52.5000     5.7500
4                   California         CA      90292   33.9777  -118.4351
...                        ...        ...        ...       ...        ...
39995                   Yunnan         53    unknown   25.0389   102.7183
39996              Beijing Shi         11    unknown   39.9289   116.3883
39997              Beijing Shi         11    unknown   39.9289   116.3883
39998                   Taipei    unknown    unknown   25.0392   121.5250
39999    Santiago Metropolitan         RM    unknown  -33.4500   -70.6667

[40000 rows x 16 columns]>

In [14]:
data.postalcode.isna # returns null values

<bound method Series.isna of 0        unknown
1        unknown
2        unknown
3        unknown
4          90292
          ...
39995    unknown
39996    unknown
39997    unknown
39998    unknown
39999    unknown
Name: postalcode, Length: 40000, dtype: object>

In [22]:
make_df = pd.DataFrame(simple_list) # creating a dataframe object with simple list
make_df

     0
0    1
1   56
2   79
3  862
4   57

In [31]:
made_df = pd.DataFrame(simple_list, index=dates, columns=['data']) # ceating dataframe with column name data
made_df

                     data
2022-01-01 00:00:00     1
2022-01-01 00:00:01    56
2022-01-01 00:00:02    79
2022-01-01 00:00:03   862
2022-01-01 00:00:04    57

In [34]:
newmade_df = pd.DataFrame(simple_list, index=dates, columns=['data'])
newmade_df

                     data
2022-01-01 00:00:00     1
2022-01-01 00:00:01    56
2022-01-01 00:00:02    79
2022-01-01 00:00:03   862
2022-01-01 00:00:04    57

In [37]:
newmade_df.loc[dates[0:2]]

                     data
2022-01-01 00:00:00     1
2022-01-01 00:00:01    56

In [38]:
newmade_df.index

DatetimeIndex(['2022-01-01 00:00:00', '2022-01-01 00:00:01',
               '2022-01-01 00:00:02', '2022-01-01 00:00:03',
               '2022-01-01 00:00:04'],
              dtype='datetime64[ns]', freq='s')

In [53]:
updt_data.postalcode.unique() # returns all the unique values

array(['unknown', '90292', '10008', 'V6Z', '85054', '95014', '43231',
       '64106', '92867', '60654', '34668', '91789', 'H3A', '90017',
       '64116', '60661', '59803', '91765', '98052', '94536', '85281',
       '56352', '7747', '98109', '95834', '18411', '28557', '60604',
       '10012', '94085', '80523', '32207', '98168', '70059', '7094',
       '10004', '9300', '18501', '94065', '90014', '89074', '20170',
       '48109', '77002', 'M4V', '91106', '11021', '4000', '80202',
       '33759', '2165', '78520', '90660', '89119', '91387', '85260',
       '80030', '14853', '97818', '30303', '20774', '14522', '53706',
       '39271', '33065', '30305', '94024', '94306', '35954', '13346',
       '45740', '28645', '32808', '48334', '382405', '91776', '28697',
       '70535', '94947', '85012', '29680', '28546', '78218', '73012',
       '63101', '55429', '43228', 'V3S', '3053', '19123', '33407',
       '92408', '84604', 'E17', '29520', 'DC', '28144', '94104', '8024',
       '37874', '21044', '89027', '34761', 'L9A', '75235', '6001',
       '94100', '2138', '75201', '94103', '44550', '52501', '4209', 'H1W',
       '44103', '94111', '19087', '11356', '91321', '400080', '82010',
       '94566', '2907', '94159', '10038', 'L8P', '95133', '73042',
       '15213', '19801', '7300', '43606', '68512', '560076', '75202',
       '98028', '80129', '53726', '75244', '84332', 'V6K', '22015',
       '92832', '90503', '27709', '94025', '12120', '46077', '11000',
       '77435', '98033', '92626', '57105', '95051', '42501', '48015',
       '91748', '94538', '54025', '8063', '66215', '1400', '98121',
       '4217', '1219', '95113', '89128', '8109', '32086', '33142',
       '80111', '94304', '80021', '78744', '117463', '11710', '5855',
       '98030', '20171', '96738', '94105', '14221', '6786', '29512',
       '2360', '55044', '94063', '8060', '8844', '33463', 'V2J', '20109',
       '66736', '99508', '7078', '86159', '94539', '95121', '27012',
       '39828', '60076', '47591', '18045', '15201', '3007', 'N2L',
       '33309', '28088', 'V9L', '19711', '63080', '44906', '52556',
       '71603', '60606', '6850', '33166', '110078', '3136', '33146',
       '33020', '90006', '94089', 'V5Z', '78741', '24061', '16051',
       '57860', 'M5X', '80937', '78216', '19406', '48104', '92123',
       '37347', '35487', '33614', '7080', '89123', '91770', '22904',
       '33076', 'H8N', '60616', '60607', '45240', '46032', '90291',
       '95003', '75024', '30014', 'S75', '48623', '94043', '30175',
       '56225', '67374', '11418', '46702', '11937', '210038', '32818',
       '92274', '1920', '91355', 'LS28', '94555', '22310', '29607',
       '392210', '77477', '11201', '221005', '60404', '8000', '55318',
       '31136', '12180', '2114', '110094', '94110', '2895', '30310',
       '60563', '44004', '19462', '109125', '78114', '24118', '61265',
       '73052', '87484', '2150', '10045', '7502', '49078', '91801',
       '2067', '75080', '92108', '40124', 'M6K', '95134', '98531', 'L6B',
       '7102', '94134', 'V6E', '8205', '1960', '30', '84111', '42728',
       '68588', '110092', '17948', 'B3P', 'E18', '1173', '96817', '11101',
       'M2R', '29730', '416101', '2215', '94112', '92660', '2000',
       '10003', '48331', 'L2J', '33132', 'P7A', '96830', '3109', '6413',
       '24551', 'M2J', '15057', '10017', 'V2S', '14450', 'K2P', '76012',
       '12020', '490006', '1190', '2139', '33301', '92341', '64030',
       '76092', '47300', '63131', '500004', 'TN34', '75052', '39776',
       '28031', '11001', '90621', '52632', '94601', '80000', '14202',
       '10922', '10520', '16823', '2881', '61200', '90095', '24140',
       '21250', '1612', '94061', '17042', '10041', '32034', '11746',
       '94303', 'L25', '90023', '70013', '94070', '603203', '92127',
       '28269', '44054', '11742', '23233', '10065', '10013', '84108',
       '98239', '14007', '44010', 'CM24', '11360', '8006', '23807',
       '19139', 'SE14', '91792', '73080', '45066', '98225', '7306',
       '78751', '64850', '79257', '91790', '25241', '48375', '41238',
       '93536', '16038', '77979', '6420', 'J3H', '20166', '65428', '7307',
       '20876', '208001', '33431', '3084', '23456', '10783', '4738',
       '36461', '35801', '8648', '8330', '55800', '77843', '8003',
       '26129', 'V1Y', '78259', '10314', '47907', '36870', '11530',
       '98105', '33602', '6108', '91504', 'V3X', '20004', '33300',
       '32204', '91761', '44691', '50480', '60007', '92807', '14424',
       '75247', '45661', '85034', '7513', 'R3G', '28876', '55045',
       '42610', '96001', 'N1R', '25305', '85358', '28035', '85027',
       '90100', '80237', '60148', '28045', '47100', '75010', '35150',
       'M5S', '8046', '61462', '301650', '46805', '31400', '98127',
       '87501', '95030', 'V5G', '97205', '10281', '117447', '30548',
       'A1H', '39455', '28717', '60559', '37363', 'V6B', '91710', '49240',
       '92821', '47058', '50126', '3138', '6410', '40033', '500016',
       '32956', '47441', '60487', '48192', '10781', 'H2Y', '90404',
       '9700', '10032', '2092', '68123', '41844', '700029', '92093',
       '14621', '75248', '35850', '14225', '22457', '97015', '29006',
       '44903', '33133', 'L6E', '2920', '3188', '95376', '19335', '60107',
       '7940', 'L8V', '7832', '40170', '33024', '30534', '43031', '28350',
       '8604', '30540', '6000', '35603', '90606', '92400', '54304',
       '10009', '33012', '47909', '13420', '80003', '76504', 'T8N',
       '66207', '19702', '62249', '53562', '90062', '95843', '2830',
       '47579', 'G1L', '78247', '22101', '78313', 'M4W', '23453', '32526',
       '73104', '10956', '75093', '14620', '2010', '18337', 'L6T', 'B3J',
       '48326', '98122', '50018', '92081', '60612', '30024', 'R3C',
       '76019', 'S17', '43300', 'L2G', '3151', '1915', '11373', '11214',
       '80014', '10462', '500038', '24435', '44800', '75009', '92020',
       '45044', '72205', 'T2P', '77900', '7600', '37918', '14526',
       '11435', '89104', '98837', '11803', '60077', '46738', '85613',
       '37616', '48848', '30092', '60313', '32547', '95064', '81050',
       '92673', '8770', '55130', '5070', '95127', '89502', 'S6', '29000',
       '34840', '41236', 'M5T', '12110', '74074', '92614', '46014',
       '2021', '324001', '32830', '1881', '4011', '57000', '16417',
       '70016', '37412', 'C1A', '77073', '52804', '74075', '64016',
       '117602', '64658', '10509', 'M9N', '72404', '7843', '7650',
       '91440', '60714', '60181', '93420', '11208', '94124', '84129',
       '91362', '6611', '71104', '54000', '95326', '32260', '28642',
       '54821', '93106', '51346', '33131', '174101', 'E2A', '61244',
       '29033', '5300', '67879', '9244', '7927', '28262', '89147',
       '85021', '92570', '22030', '25128', '46204', '21136', '60602',
       '15425', '35803', '41200', '30238', 'HA8', '31204', '19355', 'V5C',
       '38343', '30010', '45804', '59174', '11790', '8054', '90232',
       '37203', '85284', '48917', '36608', '77388', '46383', '90045',
       'W14', '98103', '6020', '37912', '1600', '53717', '90605', '28007',
       '7050', '70056', '92404', '127486', '84109', '50312', '99775',
       '47638', '91702', '8857', '1715', '1642', '96818', '66482',
       '30880', '28601', '98901', 'V3T', '68135', '68767', '136', 'L6X',
       '20832', '171011', '43221', '91311', '92843', '33051', '281001',
       '90064', '11217', '94086', '20708', '3100', '11729', '32084',
       '75440', '85249', '10465', '33990', '38700', '33803', '11900',
       'V6T', '45236', '47800', 'V6C', '22152', '11232', '83270', '83644',
       '95054', '83130', '67154', '20123', '1609', '46149', '24036',
       '29683', '18901', '609602', '2134', '1810', '36426', 'T5G', '9007',
       '29339', '18974', '8505', '96100', '73149', '78703', '55408',
       '94521', '53952', 'H3C', '11779', '7014', '230036', '55411',
       '25079', '5020', '700078', 'SA31', '30318', '2193', '19522',
       '4425', '92507', '94720', 'J8B', 'H9J', 'RH16', '965', '52601',
       '94619', '43220', 'NW11', '70803', '6179', '20194', '75207',
       '2115', '78730', 'T5H', '47877', '2113', '6457', '11725', '11756',
       '17035', '14206', '28056', '95833', '33637', '30047', '6062', '42',
       '100', 'TW9', '12553', '74365', '51640', '82100', '10567', '73190',
       '32503', '35235', '79081', '84122', 'M5V', '84065', '95763',
       '11223', '35129', '8094'], dtype=object)

In [54]:
updt_data.dpt.unique() # not sure about dpt, postalcode and spt

array([ 1433.,  5631.,  1998., ..., 42353., 30898., 31848.], shape=(1043,))

In [57]:
len(updt_data.dpt.unique())

1043

In [58]:
null_filled = data.copy()

In [59]:
for col in ['type','country','cc','locale','localeabbr','postalcode']:
    null_filled[col].fillna('unknown',axis=0,inplace=True)

In [60]:
null_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  40000 non-null  int64
 1   datetime    40000 non-null  object
 2   host        40000 non-null  object
 3   src         40000 non-null  int64
 4   proto       40000 non-null  object
 5   type        40000 non-null  object
 6   spt         40000 non-null  float64
 7   dpt         40000 non-null  float64
 8   srcstr      40000 non-null  object
 9   cc          40000 non-null  object
 10  country     40000 non-null  object
 11  locale      40000 non-null  object
 12  localeabbr  40000 non-null  object
 13  postalcode  40000 non-null  object
 14  latitude    40000 non-null  float64
 15  longitude   40000 non-null  float64
dtypes: float64(4), int64(2), object(10)
memory usage: 4.9+ MB

In [61]:
null_filled.dropna(axis=0).head(2)

,Unnamed: 0,datetime,host,src,proto,type,spt,dpt,srcstr,cc,country,locale,localeabbr,postalcode,latitude,longitude
0,263647,7/6/13 0:46,groucho-oregon,3708637025,TCP,unknown,6000.0,1433.0,221.13.79.97,CN,China,Tibet Autonomous Region,54,unknown,29.6500,91.100
1,152941,5/17/13 2:56,groucho-singapore,2031191236,TCP,unknown,21378.0,5631.0,121.17.132.196,CN,China,Hebei,13,unknown,39.8897,115.275